/* Loader.css */

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pokeball {
  width: 240px;
  height: 240px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
